{% extends 'base.html.twig' %}

{% block title %} Mon Compte {% endblock %}

{% block body %}

<h1>Mon compte !</h1>
<p>Bonjour {{ app.user.firstname }}</p>
<hr>

<p>-modifier mon mot de passe</p>
<p>-ajouter mes adresse</p>
<p>-voir mes commande</p>


{% endblock %}
