:root {
    --bleuF: #0D1925;
    --bleuC: #667787;
    --noir: #19100B;
    --gris: #787A75;
    --grisC: #D9D9D9;
    --bg: rgba(102, 119, 135, 0.322);
}

/* FONTs DE BASE */
body {
    background-color: rgba(237, 236, 236, 0.349);
}

h1 {
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--noir);
    text-transform: uppercase;
}

h2 {
    font-family: europa, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--bleuC);
}

h2 span {
    color: var(--bleuC);
    font-weight: 400;
}

h3 {
    font-family: proxima-nova, sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--bleuF);
}

h3 span {
    color: var(--bleuC);
    font-weight: 500;
}
p.lgd{
    font-size: 0.9rem;
    color: var(--bleuC);
    font-style: italic;
}

/* h4{
    font-family: proxima-nova, sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: var(--blue);
}
h4 span{
    color: var(--blueGris2);
    font-weight: 500;
}
h5{
    color:var(--blue) ;
    font-weight: 600;
    /* text-decoration: underline;
} */
p {
    font-family: open-sans, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-style: none;
    text-transform: none;
    color: var(--bleuF);
    font-weight: 600;
}

a:hover {
    color: var(--bleuC);
}

main {
    margin-top: 60px;
}

/* END FONTS SETTINGS */
.alert {
    margin-bottom: 0 !important;
}


/* HEADER ********************************************** */
#menu-client {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}

#menu-client div {
    margin-left: 20px;
    margin-right: 20px;
}

#menu-client div a {
    display: flex;
    align-items: center;
}

#menu-client div i {
    font-size: 20px;
    color: var(--bleuF);
    margin-right: 10px;
}

.cart-mobile,
.login-mobile,
.deconnexion-mobile {
    display: none;
}

.logo-header {
    /* display: flex; */
    justify-content: center;
    margin-top: -35px;
    display: block;
}

.logo-header a {
    display: flex;
    justify-content: center;
}

.logo-header a img {
    max-width: 20%;
}

header {
    margin-bottom: 135px;
}

.header-menu {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 40px 100px;
    z-index: 100000;
}

.header-menu.sticky {
    top: 0%;
    padding: 5px 100px;
    background: #fff;
    z-index: 9999;
}



nav a {
    font-family: europa, sans-serif;
    color: var(--bleuF) !important;
    font-weight: 500;
}

nav .navigation {
    justify-content: center;
    align-items: center;

}

nav li.nav-item:not(:last-child) {
    margin-right: 70px
}

nav li.nav-item:hover a {
    color: var(--bleuC);
    border-bottom: 1px solid var(--bleuC);
    line-height: 16px;
}







/* CAROUSSEL ********************************************** */
img.img-baniere{
    opacity: 0.8;
}
#myCarousel .carousel-item .text-ban{
    text-align: end;
    /* width: 55%; */
    background-color: rgba(25, 16, 11, 0.878);
    justify-content: end;
    padding: 20px 15% 0 0;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.812);
    border-radius: 5px 0 0 5px;
}
#myCarousel .carousel-item .carousel-caption.text-ban{
    right: 0;
    bottom: 5rem;
    left: 30%;
}
#myCarousel .carousel-item .text-ban h1, #myCarousel .carousel-item .text-ban p{
    color: var(--grisC);
}
#myCarousel .carousel-item .text-ban h1{
    font-size: 40px;
    font-weight: 300;
}



/* FOOTER ********************************************** */


#footer #footer-contact {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#footer #footer-contact #contacts,
#footer #footer-contact #liens-site {
    width: 50%;
}

#footer {
    background-color: var(--bg);
    padding-top: 45px;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
}

#footer #footer-contact #contacts img {
    max-width: 25%;
    margin-bottom: 10px;
}

#footer #footer-contact #contacts p {
    font-size: 14px;
}

.mail-footer i {
    font-size: 20px;
}

#footer #footer-contact .reseau-footer a i {
    font-size: 22px;
    margin-right: 10px;
}

#footer #footer-contact #liens-site {
    display: flex;
    text-align: right;
    flex-direction: column;
}

#footer #liens-site p {
    margin-bottom: 5px;
}

#footer .informations {
    justify-content: center;
}

#footer .informations p a {
    font-size: 14px;
    font-weight: 400;
    margin: 90px;
}


.copyright {
    border-top: 1px solid var(--grisC);
    padding: 10px 0;
    background-color: #f8f8f8 !important;
}

.copyright p,
.copyright a {
    font-size: 12px;
    margin-bottom: 0;
}

@media (max-width: 992px) {

    .cart,
    .login,
    .deconnexion {
        display: none;
    }

    .cart-mobile,
    .login-mobile,
    .deconnexion-mobile {
        display: block;
    }

    .header-menu button.navbar-toggler {
        position: fixed;
        top: 35px;
        font-size: 35px;
        left: 15px;
    }

}