.vinyle .card{
    background-color: transparent;
    border: none;
}

#arrivage .cover{
    max-height: 255px;
    min-height: 255px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 1px 10px #a89e9e;

}
div#categorie {
    border-right: 1px solid var(--bg);
}
#tous-les-vinyles, #arrivage{
    padding-top: 30px;
}
#tous-les-vinyles .cover{
    max-height: 180px;
    min-height: 180px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 1px 10px #a89e9e;

}
.vinyle h5{
    color: var(--bleuF);
}
.vinyle h6{
    color: var(--bleuC);
    font-weight: 400;
}
#arrivage h2 span{
    color: var(--bleuF);
    text-transform: lowercase;
    font-style: italic;
    font-size: 1.5rem;
}
#arrivage h2, #tous-les-vinyles h2{
    border-bottom: 2px dotted;
}
#arrivage button{
    margin: auto;
    width: 20%;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 1px 7px 0 var(--bg);
    background-color: transparent;
    color: #78828d;
    font-weight: 500;
    align-items: center;
}
#arrivage button:hover{
    background-color: var(--bleuC);
    color: white;
}
#arrivage button i{
    margin-right: 15px;
}
#tous-les-vinyles .vinyles{
    margin-top: 30px;
}


button#submit.btn-search{
    background-color: var(--bg);
    border: none;
    color: var(--bleuF);
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}
button#submit.btn-search:hover{
    background-color: var(--bleuC);
    color: white;
}

